.service-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 273px;
    height: 323px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 25px #003B7913;
    gap: 10px;
}



.service-name { 
top: 1481px;
left: 154px;
gap: 0px;
opacity: 0px;
font-family: Source Sans Pro;
font-size: 24px;
font-weight: 700;
line-height: 30.17px;
text-align: left;
color: #002348;

}

